extends layouts/welcomeMain 

block content 
    .form-container.changePassword-container 
        .form-container__column
            h1 비밀번호 변경
        .form-container__column
            form(action=routes.changePassword, method="post")
                input(type="text" name="currentPassword", placeholder="기존 비밀번호", required="true")
                input(type="text", name="newPassword", placeholder="새 비밀번호", required="true")
                input(type="text", name="newPassword1", placeholder="새 비밀번호 재입력", required="true")
                input(type="submit", value="저장")
                input(type="submit", value="취소")
        .form-container__column
            span 질문이 있으신가요? 
            a(href=routes.contactus) 고객센터에 문의하세요.
