extends layouts/main 
include mixins/mainPlayer
include mixins/videoBlock

block content 
//- +mainPlayer(video)
    each item in videos
        +videoBlock(item)
    else
        li Sorry, Nothing Found.
