extends layouts/welcomeMain

block content 
    .form-container.login-container 
        .form-container__column
            h1 로그인
        .form-container__column
            form(method="POST")
                input(type="text" name="email", placeholder="Email", required="true")
                input(type="text", name="password", placeholder="Password", required="true")
                input(type="submit", value="로그인")
        .form-container__column
            include partials/socialLogin
            span NETFLEX 회원이 아니신가요? 
            a(href=routes.join) 지금 가입하세요.
